openapi: 3.0.0
info:
  title: Delilah
  description: API de pedidos de Delilah Restó
  version: 0.0.1

servers:
  - url: https://api.acamica.com.ar/v1

paths:
  /user:
    post:
      tags:
      - Users
      summary: Creates new user
      security: []
      requestBody:
        required: true
        content:
          aplication/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/User'
                - type: object
                  required:
                    - password
                  properties:
                    password:
                      type: string
      responses:
        '200':
          description: Ok. JSON object with id.
          content:
            aplication/json:
              schema:
                $ref: '#/components/schemas/User'
    get:
      tags:
      - Users
      summary: Returns user given the current JWT token.
     
      responses:
        '200':
          description: JSON user Object
          content:
            aplication/json:
              schema:
                $ref: '#/components/schemas/User'
        '403':
          description: Forbidden
  /user/login:
    post:
      tags:
      - Users
      summary: Logins user and returns JWT token if successful
      security: []
      requestBody:
        required: true
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/LoginBody'
      responses:
        '200':
          description: Ok. JSON object with id.
          content:
            aplication/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
        '401':
          description: Bad credentials.
   
  /user/{id}:
    get:
      tags:
      - Users
      summary: Returns user with {id}
      parameters: 
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        
      responses:
        '200':
          description: JSON user Object
          content:
            aplication/json:
              schema:
                $ref: '#/components/schemas/User'
        '403':
          description: Forbidden
        '404':
          description: No id.
              
    put:
      tags:
      - Users
      summary: Updates a user with {id}
      parameters: 
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
            
      requestBody:
        required: true
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: User updated.
        '403':
          description: Forbidden
          
  /user/{id}/orders:
    get:
      tags:
      - Users
      summary: Returns orders from user with {id} sorted by desc date
      parameters: 
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          schema:
            type: integer
            format: int64
            minimum: 0
            maximum: 25
            default: 10
        - name: offet
          in: query
          schema:
            type: integer
            format: int64
            default: 0
            minimum: 0
        
      responses:
        '200':
          description: JSON Object
          content:
            aplication/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
        '403':
          description: Forbidden
  
  /order:
    get:
      tags:
      - Orders
      summary: Returns orders from all users sorted by desc date [Admin only]
      parameters: 
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
            minimum: 0
            maximum: 50
            default: 25
        - name: offet
          in: query
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        
      responses:
        '200':
          description: JSON Object
          content:
            aplication/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
        '403':
          description: Forbidden
      
    post:
      tags:
      - Orders
      summary: Creates new order
      requestBody:
        required: true
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/CU_Order'
      responses:
        '200':
          description: Ok. JSON object with id.
          content:
            aplication/json:
              schema:
                $ref: '#/components/schemas/Order'
        '403':
          description: Forbidden
   
  /order/{id}:
    get:
      tags:
      - Orders
      summary: Returns order with {id}
      parameters: 
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        
      responses:
        '200':
          description: JSON Object
          content:
            aplication/json:
              schema:
                $ref: '#/components/schemas/Order'
        '403':
          description: Forbidden
   
                  
  /order/{id}/status:
    get:
      tags:
      - Orders
      summary: Returns status of order with {id}
      parameters: 
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          
      responses:
        '200':
          description: JSON Object
          content:
            aplication/json:
              schema:
                $ref: '#/components/schemas/OrderStatus'
        '403':
          description: Forbidden
    put:
      tags:
      - Orders
      summary: Updates status of order with {id} [Admin only]
      parameters: 
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
            
      requestBody:
        required: true
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/OrderStatus'
      responses:
        '200':
          description: Ok.
        '403':
          description: Forbidden
  
  /product:
    post:
      tags:
      - Products
      summary: Creates new product [Admin only]
      requestBody:
        required: true
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/Product'
      responses:
        '200':
          description: Ok. JSON object with id.
          content:
            aplication/json:
              schema:
                $ref: '#/components/schemas/Product'
        '403':
          description: Forbidden
                
    get:
      tags:
      - Products
      summary: Returns products ordered by name asc
      parameters: 
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
            minimum: 0
            maximum: 50
            default: 25
        - name: offet
          in: query
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        
      responses:
        '200':
          description: JSON Object
          content:
            aplication/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
        '403':
          description: Forbidden
                  
    
   
  /product/{id}:
    get:
      tags:
      - Products
      summary: Returns product with {id}
      parameters: 
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        
      responses:
        '200':
          description: JSON Object
          content:
            aplication/json:
              schema:
                $ref: '#/components/schemas/Product'
        '403':
          description: Forbidden
    put:
      tags:
      - Products
      summary: Updates a product with {id} [Admin only]
      parameters: 
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
            
      requestBody:
        required: true
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/Product'
      responses:
        '200':
          description: Ok.
        '403':
          description: Forbidden
          
    delete:
      tags:
      - Products
      summary: Delete product with {id} [Admin only]
      parameters: 
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        
      responses:
        '200':
          description: Product deleted
        '403':
          description: Forbidden
          
components:
  schemas:
    Id:
      description: Record ID
      type: integer
      format: int64
      example: 123
      readOnly: true
    
    User:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Id'

        username:
          type: string
          example: johnnybgood
        name:
          type: string
          example: Johnny
        lastname:
          type: string
          example: Good
        email:
          type: string
          example: johnny.good@email.com
        address:
          type: string
          example: 34 Summer Str, Atlantida, Earth
        phone:
          type: string
          example: +456 555-1234
        admin:
          type: boolean
          example: false
    
    LoginBody:
      type: object
      properties:
        username:
          type: string
          example: johnnybgood
        password:
          type: string
          example: eASyPassWOrd
    Order:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Id'
        userId:
          $ref: '#/components/schemas/Id'
        createdAt:
          type: string
          format: date-time
          readOnly: true
        orderStatus:
          $ref: '#/components/schemas/OrderStatus'
        orderItems:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        payment:
          $ref: '#/components/schemas/Payment'
        amount:
          $ref: '#/components/schemas/Currency'
        deliveryAdress:
          type: string
          example: 34 Summer Str, Atlantida, Earth
          
    CU_Order:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Id'
        userId:
          $ref: '#/components/schemas/Id'
        orderStatus:
          $ref: '#/components/schemas/OrderStatus'
        orderLines:
          type: array
          items:
            type: object
            properties:
              productId:
                type: integer
                format: int64
                example: 23
              quantity:
                type: integer
                example: 1
              
              
        payment:
          $ref: '#/components/schemas/Payment'
        deliveryAdress:
          type: string
          example: 34 Summer Str, Atlantida, Earth
        
    OrderItem:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Id'
        product:
          $ref: '#/components/schemas/OrderProduct'
        quantity:
          format: int64
          example: 1
        price:
          $ref: '#/components/schemas/Currency'
    
    OrderStatus:
      description: Order status
      type: string
      enum:
      - new
      - confirmed
      - preparing
      - delivering
      - delivered
      readOnly: true
      
    Currency:
      description: Currency
      type: number
      format: float
      example: 15.50
      
    Payment:
      description: Payment type
      type: string
      enum:
      - card
      - cash
    
    Product:
      description: Product type
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Id'
        name:
          type: string
          example: Filet Mignon
        imageUrl:
          type: string
          example: https://images.com/filet_mignon.png
        price:
          $ref: '#/components/schemas/Currency'
    
    OrderProduct:
      description: Product type
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Id'
        name:
          type: string
          example: Filet Mignon
        imgUrl:
          type: string
          example: https://images.com/filet_mignon.png
          
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      
security:
  - bearerAuth:
    - user
    - admin
                      